@font-face {
  font-family: 'Retro';
  src: url('/fonts/retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RetroSmall';
  src: url('/fonts/retro2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-text-light: #F6F8F7;
  --clr-dark-1: #000000;
  --clr-dark-2: #0f0f10;
  --clr-dark-3: #1c1c1e;
  --clr-grey-1: #2F2F2F;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'RetroSmall';
  line-height: 1.2;
  background-color: var(--clr-dark-3);
  color: var(--clr-text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: var(--clr-dark-1);
  height: 800px;
  width: 1250px;
  border: 3px solid var(--clr-dark-2);
  box-shadow: 
    0 20px 30px rgba(0, 0, 0, 0.4),
    0 10px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "Profile Text"
  "Buttons Map";
}

.main-container-btn-layout {
  height: 800px;
  width: 1250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.main-container-btn-layout img {
  width: 350px;
  margin: 100px 0 0 0;
}

.play-btn {
  border-radius: 10px;
  width: 300px;
  font-family: 'Retro';
}

Button {
  border: none;
  outline: none;
  height: 55px;
  color: var(--clr-dark-2);
  font-size: 20px;
  cursor: pointer;
}

.map-container {
  grid-area: Map;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin: -150px 50px 0 0;
  height: 500px;
  background-color: var(--clr-dark-2);
  position: relative;
}

.map-container img {
  margin: 20px 0 0 0;
  width: 80%;
  height: 80%;
}

.map-container h1 {
  font-size: 2.5rem;
}

.map-container h2 {
  position: absolute;
  top: 40px;
  left: 375px;
}