@font-face {
  font-family: 'Retro';
  src: url('/fonts/retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Retro2';
  src: url('/fonts/retro2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-dark-1: #000000;
  --clr-dark-2: #0f0f10;
  --clr-dark-3: #1c1c1e;
  --clr-grey-1: #2F2F2F;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Retro2';
  line-height: 1.2;
  background-color: var(--clr-dark-3);
  color: #FFFFF0;
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: var(--clr-dark-1);
  margin: 50px 0 0 0;
  height: 800px;
  width: 1250px;
  border: 3px solid var(--clr-dark-2);
  box-shadow: 
    0 20px 30px rgba(0, 0, 0, 0.4),
    0 10px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "Profile Text"
  "Buttons Map";
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  font-family: 'Retro2';
  background-color: #FFFFF0;
  color: var(--clr-dark-2);
}

.dictator-profile {
  grid-area: Profile;
  font-family: 'Retro';
  margin: 25px 0 0 20px;
  display: flex;
  font-size: 15px;
  gap: 15px;
  width: 300px;
  height: 110px;
}

.dictator-img {
  width: 125px;
  height: 125px;
}

.dictator-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  grid-area: Text;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 50px;
  width: 900px;
  height: 300px;
  font-size: 20px;
  row-gap: 20px;
}

.btn-container {
  grid-area: Buttons;
  width: 250px;
}

.map-container {
  grid-area: Map;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin: -150px 50px 0 0;
  height: 500px;
  background-color: var(--clr-dark-2);
}

.map-container img {
  margin: 20px 0 0 0;
  width: 80%;
  height: 80%;
}

.map-container h1 {
  font-size: 2.5rem;
}

.map-container h2 {
  position: absolute;
  top: 33%;
  left: 52.6%;
}